/** @format */

.App {
    text-align: center;
}

.App-header {
    margin-bottom: 30px;
}

.Image {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.Footer {
    font-size: 12px;
    margin-top: 30px;
}

.phonetic {
    font-size: 26px;
    text-decoration: none;
}

.Synonyms {
    padding: 0;
}